/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 VARIABLES
|  1.1 COLORS
|  1.2 TYPOGRAPHY
|  1.3 LAYOUT
2.0 FOUNDATION
3.0 TYPOGRAPHY
4.0 IMAGE
5.0 LAYOUT
6.0 COMPONENT
|  6.1 CTA
|  6.2 BUTTON
|  6.3 LIST
7.0 SECTION
|  7.1 HEADER
|  7.4 FEATURE
|  7.7 FOOTER
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|   1.0 VARIABLES
--------------------------------------------------------------*/

:root {

  /*--------------------------------------------------------------
  |  1.1 COLORS
  --------------------------------------------------------------*/

  --ui-color-main: #252525;

  /* PALETTE */

  --ui-color-body     : #009696;
  --ui-color-primary  : ;
  --ui-color-secondary: ;
  --ui-color-tertiary : ;

  /*--------------------------------------------------------------
  |  1.2 TYPOGRAPHY
  --------------------------------------------------------------*/
  
  --ui: ;

  /*--------------------------------------------------------------
  |  1.3 LAYOUT
  --------------------------------------------------------------*/

  --ui-layout: ;

}

body {
  background-color: var(--ui-color-body);
}