/*--------------------------------------------------------------
TABLE OF CONTENT
----------------------------------------------------------------
1.0 VARIABLES
|  1.1 COLORS
|  1.2 TYPOGRAPHY
|  1.3 LAYOUT
2.0 FOUNDATION
3.0 TYPOGRAPHY
4.0 IMAGE
5.0 LAYOUT
6.0 COMPONENT
|  6.1 CTA
|  6.2 BUTTON
|  6.3 LIST
7.0 SECTION
|  7.1 HEADER
|  7.4 FEATURE
|  7.7 FOOTER
--------------------------------------------------------------*/

/*--------------------------------------------------------------
|   1.0 VARIABLES
--------------------------------------------------------------*/

:root {

  /*--------------------------------------------------------------
  |  1.1 COLORS
  --------------------------------------------------------------*/

  --ui-color-main: #252525;

  /* PALETTE */

  --ui-color-body     : #28c44a;
  --ui-color-primary  : ;
  --ui-color-secondary: ;
  --ui-color-tertiary : ;

  /* BACKGROUND */

  --ui-color-bg-body  : #505050;

  /* TYPOGRAPHY */

  --ui-color-typography-heading: ;
  --ui-color-typography-bobdy  : ;
  --ui-color-typography-note   : ;
  --ui-color-typography-button : ;

  /*--------------------------------------------------------------
  |  1.2 TYPOGRAPHY
  --------------------------------------------------------------*/

  --ui-typography-font: ;

  --ui-typography-p: ;
  --ui-typography-p-main: ;
  --ui-typography-h: ;


  /*--------------------------------------------------------------
  |  1.3 LAYOUT
  --------------------------------------------------------------*/

  --ui-layout: ;

}

body {
  background-color: var(--ui-color-body);
}

/*--------------------------------------------------------------
|   2.0 VARIABLES
--------------------------------------------------------------*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*:before,
*:after { box-sizing: inherit; }

body {
  background-color: var(--ui-color-bg-body);
  color: var(--ui-color-body);
  font-family: var(--ui-typography-font);
  font-size: var(--ui-typography-p);
  font-weight: 400;
  line-height: var(--ui-typography-p-main);
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}